[submodule "Core/Lib/SBUS"]
	path = Core/Lib/SBUS
	url = git@github.com:NOKOLat/SBUS.git
[submodule "./Core/Lib/RingBuffer"]
	path = ./Core/Lib/ringBuffer
	url = git@github.com:NOKOLat/Ring-Buffer.git
